/* MODIFIED MEYER RESET */

html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, a, address, em, img,
strong, ul, li, article,
aside, footer, header,
nav, section {
  padding: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  border: 0;
}

/* HTML5 display-role reset for older browsers */

article, aside, footer, header, nav, section {
  display: block;
}

ul {
  list-style: none;
}

/*-------------------------------------*/
/* GLOBAL */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  -webkit-backface-visibility: hidden;
}

body {
  font: 300 16px/1.6 'Merriweather', serif;
  letter-spacing: .01em;
  color: #777;
  /* momentum scrolling ios */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* to fix text resizing ios */
  -webkit-text-size-adjust: none;
}

a {
  color: #8cb061;
  text-decoration: underline;
}

a:hover {
  color: #577442;
}

.no-bullet {
  list-style: none;
}

.no-bullet li {
  margin-bottom: 1.2em;
}

.main-content h1, h2, h3, h4, h5 {
  margin-right: 20px;
  margin-bottom: .2em;
  margin-left: 20px;
  font-family: 'Source Sans Pro', serif;
  font-weight: 600;
  line-height: 1.15;
  letter-spacing: 0;
}

.main-content p {
  margin-right: 20px;
  margin-bottom: 1.2em;
  margin-left: 20px;
  font-size: .95em;
}

.main-content h1 {
  margin-top: 1em;
  margin-bottom: .5em;
  font-size: 1.9em;
  font-weight: 700;
  color: #f3b444;
}

.main-content h2 {
  margin-top: 1em;
  font-size: 1.4em;
  color: #f3b444;
}

.main-content h3 {
  font-size: 1.3em;
  color: #666;
}

.main-content h4 {
  font-size: 1.15em;
  color: #777;
}

.main-content h5 {
  margin-bottom: 0;
  font-size: 1.1em;
  color: #777;
}

.page-content {
  max-width: 960px;
  margin: 0 auto;
}

.main-image {
  height: auto;
  max-width: 100%;
}

.add-margin {
  margin-bottom: .8em;
}

.add-margin-30 {
  margin-bottom: 30px;
}

.main-content .testimonial {
  margin-top: 30px;
  margin-bottom: 7px;
}

.main-content .phone {
  text-decoration: none;
}

strong {
  font-weight: 400;
  color: #555;
}

@media screen and (min-width: 768px) {
  .main-content h1, h2, h3, h4, h5 {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) {
  .main-content p {
    margin-right: 20px;
    margin-left: 0;
  }
}

@media screen and (min-width: 1150px) {
  .main-content p {
    margin-right: 0;
  }
}

/*-------------------------------------*/
/* HEADER */

header {
  height: 150px;
  max-width: 990px;
  margin: 0 auto;
}

.logo {
  float: left;
  width: 260px;
  margin-top: 15px;
  margin-left: 20px;
}

.donate-today {
  float: right;
  padding: 5px 27px 4px;
  margin-top: 35px;
  margin-right: 25px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.3em;
  font-weight: 600;
  letter-spacing: .03em;
  word-spacing: .2em;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #f3b444;
  border-radius: 10px;
}

.donate-today:hover {
  color: white;
  background-color: #fbc35f;
}

@media screen and (min-width: 1150px) {
  .logo {
    margin-left: 40px;
  }

  .donate-today {
    margin-right: 40px;
  }
}

/*-------------------------------------*/
/* MAIN NAVIGATION */

.main-nav {
  position: relative;
  padding: 15px 0;
  margin-bottom: 15px;
  background-color: #231f20;
  border-bottom: 10px solid #f3b444;
}

.main-nav-items li {
  padding: 8px 20px;
}

.main-nav-items a {
  font-size: .85em;
  letter-spacing: .04em;
  color: #fff;
  text-decoration: none;
}

.main-nav-items .current-page {
  background-color: #577442;
}

.main-nav-items li:hover {
  background-color: #769a5c;
}

@media screen and (min-width: 768px) {
  .main-nav {
    padding: 0;
    text-align: center;
  }

  .main-nav-items li {
    display: inline-block;
    padding: 13px 16px;
  }

  .main-nav-items a:last-child {
    margin-right: 0;
  }

  .main-nav-items a {
    margin-right: -5px;
    font-size: .8em;
  }
}

@media screen and (min-width: 950px) {
  .main-nav-items li {
    padding: 13px 28px;
  }

  .main-nav-items a {
    font-size: .85em;
  }
}

@media screen and (min-width: 1150px) {
  .main-nav-items li {
    padding: 13px 30px;
  }

  .main-nav {
    margin-bottom: 25px;
  }
}

/*-------------------------------------*/
/* SECONDARY NAVIGATION */

.secondary-nav {
  width: 100%;
  padding: 12px 0;
  margin-bottom: 15px;
  background-color: #668a4d;
}

.secondary-nav a {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  letter-spacing: .03em;
  color: #fff;
  text-transform: uppercase;
}

.secondary-nav-items li {
  padding: 7px 20px;
}

.secondary-nav-items .current-page {
  background-color: #231f20;
}

.secondary-nav-items li:hover {
  background-color: #444;
}

@media screen and (min-width: 768px) {
  .secondary-nav-items li {
    padding: 7px 25px;
  }
}

/*-------------------------------------*/
/* MAIN CONTENT */

.main-content {
  position: relative;
}

.main-content .intro {
  padding: 19px;
  margin-bottom: 0;
  font-size: .9em;
  color: #231f20;
}

.org-name {
  font-size: 1.1em;
  font-weight: 700;
}

.video-container {
  position: relative;
  height: 0;
  padding-top: 30px;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slideshow-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .main-content {
    float: right;
    width: 63%;
    margin-bottom: 30px;
  }

  .video-container {
    margin-top: 30px;
  }

  .main-content .intro {
    padding: 30px 20px;
  }

  .slideshow-container {
    display: block;
  }
}

@media screen and (min-width: 1150px) {
  .main-content {
    width: 68%;
    margin-bottom: 40px;
  }
}

/*-------------------------------------*/
/* SIDEBAR */

.sidebar-content {
  color: #231720;
}

.sidebar-content a {
  text-decoration: none;
}

@media screen and (min-width: 768px) {
  .sidebar-content {
    float: left;
    width: 32%;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1150px) {
  .sidebar-content {
    width: 26%;
    margin-bottom: 30px;
  }
}

/*-------------------------------------*/
/* SIDEBAR - CALL TO ACTION */

.call-to-action {
  position: relative;
  width: 100%;
  padding: 25px 20px 45px;
  margin-bottom: 15px;
  background: url(../images/background-green.jpg) repeat #90b361;
  border-top: 6px solid #bad0a0;
  border-bottom: 6px solid #bad0a0;
}

.call-to-action h2 {
  margin-bottom: .15em;
  margin-left: 0;
  font-size: 1.5em;
  font-weight: 700;
  color: #231f20;
}

.call-to-action p {
  font-size: .95em;
}

.action-link {
  position: absolute;
  right: 0;
  bottom: -6px;
  padding: 7px 17px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  letter-spacing: .02em;
  color: #fff;
  background-color: #231f20;
}

.action-link:hover {
  color: #fff;
  background-color: #444;
}

@media screen and (min-width: 768px) {
  .call-to-action {
    padding-left: 25px;
  }
}

/*-------------------------------------*/
/* SIDEBAR - EMAIL SIGNUP */

.email-signup {
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  color: #e3eddd;
  background-color: #668a4d;
}

.email-signup h2 {
  margin-bottom: .2em;
  margin-left: 0;
  font-size: 1.45em;
  line-height: 1.2;
  letter-spacing: .01em;
  color: #fff;
}

.email-signup p {
  margin-bottom: .3em;
  font-size: .9em;
}

.input-mailing {
  width: 190px;
  height: 25px;
  padding: 3px;
  margin-top: 10px;
  margin-right: 10px;
  border: 1px solid #999;
  outline: none;
}

.submit {
  padding: 4px 10px 3px;
  margin: 10px 0 0;
  font-size: .8em;
  background-color: #fff;
  border: 1px solid #999;
}

@media screen and (min-width: 768px) {
  .email-signup {
    padding: 25px;
  }
}

/*-------------------------------------
/* SIDEBAR - FACEBOOK */

.facebook {
  position: relative;
  width: 100%;
  padding: 23px 20px;
  margin-bottom: 15px;
  background: url(../images/background-green.jpg) repeat #90b361;
  border-top: 6px solid #bad0a0;
  border-bottom: 6px solid #bad0a0;
}

.facebook img {
  float: left;
  height: 60px;
  margin-top: -5px;
  margin-right: 15px;
}

.facebook span {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5em;
  font-weight: 700;
  letter-spacing: 0;
  color: #231720;
}

.facebook p {
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.2;
  color: #333;
}

.facebook:hover {
  background-image: url(../images/background-light-green.jpg);
}

@media screen and (min-width: 768px) {
  .facebook {
    padding: 25px;
  }
}

/*-------------------------------------*/
/* FOOTER */

footer {
  margin: 0;
  clear: both;
  border-top: 10px solid #f3b444;
}

/*-------------------------------------*/
/* FOOTER - ADDRESS */

address {
  position: relative;
  padding: 20px;
  background-color: #231f20;
}

.address {
  display: block;
  padding: 5px 0;
  font-size: .85em;
  color: #fff;
  text-decoration: none;
}

.address:hover {
  color: #aaa;
}

@media screen and (min-width: 768px) {
  footer {
    text-align: center;
  }

  address {
    padding: 0;
    text-align: center;
  }

  .address {
    display: inline-block;
    position: relative;
    padding: 18px 10px;
  }
}

@media screen and (min-width: 1150px) {
  .address {
    padding: 18px 25px;
  }
}

/*-------------------------------------*/
/* FOOTER - COPYRIGHT */

.copy-credit {
  padding: 20px;
  margin: 0 auto;
  font-size: .75em;
}

.copyright {
  margin-top: .5em;
  margin-bottom: .5em;
}

.pipe {
  display: none;
}

.credit {
  padding-bottom: 20px;
}

.credit a {
  color: #777;
}

.credit a:hover {
  color: #000;
}

.linkedin {
  position: relative;
  top: .2em;
  width: 1.1em;
  height: 1em;
  margin-left: .5em;
}

@media screen and (min-width: 760px) {
  .copy-credit {
    text-align: center;
  }

  .copy-credit p {
    display: inline;
  }

  .pipe {
    display: inherit;
    padding-right: .5em;
    padding-left: .5em;
  }
}

/*-------------------------------------*/
/* SLIDESHOW http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.slideshow-container {
  margin-bottom: 10px;
  position: relative;
  float: left;
  width: 100%;
}

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("../images/slideshow/arrows.gif") no-repeat left 50%;
  width: 38px;
}

.large-btns_nav:active {
  opacity: 1.0;
}

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
}

.large-btns_nav:focus {
  outline: none;
}

.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
}

.large-btns_tabs li {
  display: inline;
  float: none;
  /* http://responsiveslides.com v1.55 by @viljamis */
  _float: left;
  *float: left;
  margin-right: 5px;
}

.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  /* http://responsiveslides.com v1.55 by @viljamis */
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
}

.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
}
