/* COLORS
#231f20 - black
#b0b0b0 - light gray
#bad0a0 - light green
#8cb061 - medium green
#577442 - dark green
#fde0ac - light yellow
#fdd585 - medium yellow
#f3b444 - dark yellow
#cc860a - very dark yellow
*/

/* MODIFIED MEYER RESET */

html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, a, address, em, img,
strong, ul, li, article,
aside, footer, header,
nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, footer, header, nav, section {
  display: block;
}

ul {
  list-style: none;
}

/*-------------------------------------*/
/* GLOBAL */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
/*  overflow-x: hidden;
  -webkit-backface-visibility: hidden;*/
}

body {
  font: 16px/1.5 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
  color: #777;
  /* momentum scrolling ios */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* to fix text resizing ios */
  -webkit-text-size-adjust: none;
}

header {
  margin: 0 auto;
  max-width: 920px;
}

.page-content {
  margin: 0 auto;
  max-width: 920px;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-------------------------------------*/
/* FOOTER */

footer {
  margin: 0;
  clear: both;
  border-top: 15px solid #f3b444;
}

/*-------------------------------------*/
/* FOOTER - ADDRESS */

address {
  position: relative;
  padding: 20px;
  background-color: #231f20;
}

.address {
  display: block;
  padding-top: .3em;
  padding-bottom: .2em;
  font-size: .85em;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 870px) {
  footer {
    text-align: center;
  }

  address {
    padding: 0;
    text-align: center;
  }

  .address {
    position: relative;
    display: inline;
    padding-right: .6em;
    padding-left: .6em;
    line-height: 3.9em;
  }
}

@media screen and (min-width: 1030px) {
  .address {
    padding: .6em 2em .7em;
    font-size: .9em;
  }

  .address:hover {
    color: #ccc;
  }
}

/*-------------------------------------*/
/* FOOTER - COPYRIGHT */

.copy-credit {
  padding: 20px;
  margin: 0 auto;
  font-size: .85em;
}

.copyright {
  margin-top: .6em;
  margin-bottom: .5em;
}

.pipe {
  display: none;
}

.credit {
  padding-bottom: 20px;
}

.credit a {
  color: #777;
}

.linkedin {
  position: relative;
  top: .2em;
  width: 1.1em;
  height: 1.1em;
  margin-left: .7em;
}

@media screen and (min-width: 600px) {
  .copy-credit {
    text-align: center;
  }

  .copy-credit p {
    display: inline;
  }

  .pipe {
    display: inherit;
    padding-right: .5em;
    padding-left: .5em;
  }
}

@media screen and (min-width: 1030px) {
  .credit a:hover {
    color: #000;
  }
}

/*-------------------------------------*/
/* SLIDESHOW http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.slideshow-container {
  margin-bottom: 50px;
  position: relative;
  float: left;
  width: 100%;
}

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("../images/slideshow/arrows.gif") no-repeat left 50%;
  width: 38px;
}

.large-btns_nav:active {
  opacity: 1.0;
}

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
}

.large-btns_nav:focus {
  outline: none;
}

.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
}

.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
}

.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
}

.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
}
