
/* MODIFIED MEYER RESET */

html, body, div, span,
h1, h2, h3, h4, h5, h6,
p, a, address, em, img,
strong, ul, li, article,
aside, footer, header,
nav, section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, footer, header, nav, section {
  display: block;
}

ul {
  list-style: none;
}

/*-------------------------------------*/
/* GLOBAL */

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
/*  overflow-x: hidden;
  -webkit-backface-visibility: hidden;*/
}

body {
  font: 16px/1.5 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', sans-serif;
  color: #777;
  /* momentum scrolling ios */
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* to fix text resizing ios */
  -webkit-text-size-adjust: none;
}

a {
  color: #8cb061;
  text-decoration: underline;
}

/*-------------------------------------*/
/* HEADER */

header {
  margin: 0 auto;
  max-width: 920px;
}

.page-content {
  margin: 0 auto;
  max-width: 920px;
}

.sidebar-content {
  color: #231720;
}

.sidebar-content a {
  text-decoration: none;
}

/*-------------------------------------*/
/* DONATE */

.donate {
  text-transform: uppercase;
  background: url(../images/background-yellow.jpg) repeat #fbcc74;
  width: 100%;
  padding: 20px;
  color: #231f20;
  margin-bottom: 15px;
  border-top: 6px solid #fde0ac;
  border-bottom: 6px solid #fde0ac;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

.donate p {
  font-size: 1.2em;
  color: #231f20;
}

.donate span {
  font-size: 2.4em;
  line-height: 1;
  color: #231f20;
}

@media screen and (min-width: 1030px) {
  .donate:hover {
    background: url(../images/background-light-yellow.jpg) repeat #fbcc74;
  }
}

/*-------------------------------------*/
/* CALL TO ACTION */

.call-to-action {
  background-color: #668a4d;
  width: 100%;
  padding: 25px 20px 40px;
  margin-bottom: 15px;

  position: relative;
  color: #d5e1cd;
}

.call-to-action h2 {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: .2em;
  color: #fff;
}

.action-link {
  color: #fff;
  background: #231f20;
  padding: 7px 17px;
  position: absolute;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 1030px) {
  .action-link:hover {
    background: #444;
  }
}

/*-------------------------------------*/
/* EMAIL SIGNUP */

.email-signup {
  background: url(../images/background-green.jpg) repeat #90b361;
  width: 100%;
  padding: 20px;
  margin-bottom: 15px;
  border-top: 6px solid #bad0a0;
  border-bottom: 6px solid #bad0a0;
}

.email-signup h2 {
  font-size: 1.4em;
  font-weight: bold;
  line-height: 1.3;
  margin-bottom: .2em;
}

.inputMailing {
  width: 80%;
  margin-right: 10px;
  margin-top: 10px;
  height: 25px;
  padding: 3px;
  border: 1px solid #999;
}

.submit {
  font-size: .8em;
  margin: 10px 0 0;
  padding: 4px 10px 3px;
  border: none;
  background: #fff;
  border: 1px solid #999;
}

/*-------------------------------------*/
/* MAIN CONTENT */

.intro {
  font-size: .9em;
  padding: 20px;
  color: #231f20;
}

.org-name {
  font-size: 1.1em;
  font-weight: bold;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*-------------------------------------*/
/* FOOTER */

footer {
  margin: 0;
  clear: both;
  border-top: 15px solid #f3b444;
}

/*-------------------------------------*/
/* FOOTER - ADDRESS */

address {
  position: relative;
  padding: 20px;
  background-color: #231f20;
}

.address {
  display: block;
  padding-top: .3em;
  padding-bottom: .2em;
  font-size: .85em;
  color: #fff;
  text-decoration: none;
}

@media screen and (min-width: 760px) {
  footer {
    text-align: center;
  }

  address {
    padding: 0;
    text-align: center;
  }

  .address {
    position: relative;
    display: inline;
    padding-right: 1em;
    padding-left: 1em;
    line-height: 3.9em;
  }
}

@media screen and (min-width: 1030px) {
  .address {
    padding: .6em 2em .7em;
    font-size: .9em;
  }

  .address:hover {
    color: #aaa;
  }
}

/*-------------------------------------*/
/* FOOTER - COPYRIGHT */

.copy-credit {
  padding: 20px;
  margin: 0 auto;
  font-size: .75em;
}

.copyright {
  margin-top: .5em;
  margin-bottom: .5em;
}

.pipe {
  display: none;
}

.credit {
  padding-bottom: 20px;
}

.credit a {
  color: #777;
}

.linkedin {
  position: relative;
  top: .2em;
  width: 1.1em;
  height: 1em;
  margin-left: .5em;
}

@media screen and (min-width: 760px) {
  .copy-credit {
    text-align: center;
  }

  .copy-credit p {
    display: inline;
  }

  .pipe {
    display: inherit;
    padding-right: .5em;
    padding-left: .5em;
  }
}

@media screen and (min-width: 1030px) {
  .credit a:hover {
    color: #000;
  }
}

/*-------------------------------------*/
/* SLIDESHOW http://responsiveslides.com v1.55 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0 auto;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.slideshow-container {
  position: relative;
  float: left;
  width: 100%;
}

.large-btns_nav {
  z-index: 3;
  position: absolute;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  opacity: 0.6;
  text-indent: -9999px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  left: 0;
  background: #000 url("../images/slideshow/arrows.gif") no-repeat left 50%;
  width: 38px;
}

.large-btns_nav:active {
  opacity: 1.0;
}

.large-btns_nav.next {
  left: auto;
  background-position: right 50%;
  right: 0;
}

.large-btns_nav:focus {
  outline: none;
}

.large-btns_tabs {
  margin-top: 10px;
  text-align: center;
}

.large-btns_tabs li {
  display: inline;
  float: none;
  _float: left;
  *float: left;
  margin-right: 5px;
}

.large-btns_tabs a {
  text-indent: -9999px;
  overflow: hidden;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background: #ccc;
  background: rgba(0,0,0, .2);
  display: inline-block;
  _display: block;
  *display: block;
  -webkit-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  -moz-box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  box-shadow: inset 0 0 2px 0 rgba(0,0,0,.3);
  width: 9px;
  height: 9px;
}

.large-btns_here a {
  background: #222;
  background: rgba(0,0,0, .8);
}
